/*

CSS code by Kibii Devs
Author(s): Andreas P <apap04@otakoapp.com>

*/

body {
    background-color: rgb(78, 184, 78);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden;
}

.login-border {
    min-width: 100vh;
    text-align: center;
    border-radius: 3px;
    padding-top: 13%;
}

.login-main {
    min-height: 91vh;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    text-align: center;
    display: block;
}

.label-title {
    color: black;
    text-align: center;
    
}

.password-label {
    color: black;
}

.button-a {
    background-color: rgb(78, 184, 78);
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    line-height: 39px;
    margin: 17px 0 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 9%;
    outline: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    border: 1;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.pos-fix {
    text-align: center;
}

.pos-fix-text {
    text-align: center; 
}

.container {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.container nav {
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgb(40, 37, 44);
    -webkit-app-region: drag;
}

.container nav #showTitle {
    width: 30%;
    height: 100%;
    line-height: 30%;
    color: #f7f7f7;
    font-size: 1.2em;
    float: left;
    padding: 0 0 0 1em;
    position: absolute;
    top: 12px;
    outline: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.container nav .titlebarButtons {
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #333333;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.titlebarButtons, .minimize, .titlebarButtons, .maximize, .titlebarButtons, .close {
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: #ffffff;
    transition: all ease-in-out .2s;
    cursor: default; 
    outline: 0;
}

.titlebarButtons, .minimize:hover, .titlebarButtons, .maximize:hover {
    background-color: #747474; 
}

.titlebarButtons, .close:hover {
    background-color: red;
}

button, label, input {
    border: 0;
    outline: 0;
}

.no-highlight {
    -webkit-app-region: no-drag;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* iframe {
    border: 0;
    width: 1920;
    height: 1080;
} */