.titlebar {
    position: relative;
    z-index: 9999;
    display: flex;
    width: 100vw;
    margin: 0 0 0;
    height: 2rem;
    background: #2c2541;
    justify-content: space-between;
}

.titlebar--minimal.titlebar--macOS {
    background: transparent;
}

.titlebar--macOS {
    height: 2.1rem;
}

.titlebar--full-screen {
    display: none;
}

.titlebar__title {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: white;
    padding: 0 1rem 0 0.6rem;
    margin: 0.4rem 0 0 0.4rem;
    -webkit-app-region: drag;
}

.titlebar--macOS .titlebar__title {
    line-height: 2.1rem;
}

.titlebar--macOS.titlebar--minimal .titlebar__title {
    display: none;
}

.titlebar__section {
    display: flex;
    flex: 0 0 auto;
}

.titlebar__section--middle {
    flex: 1;
    margin: 0.4rem 0 0 0;
    -webkit-app-region: drag;
}

.titlebar__icon {
    cursor: default !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3.5rem;
    color: white;
}

.titlebar__icon .fill {
    fill: white;
}

.titlebar__icon:hover {
    background: rgba(255, 255, 255, 0.3);
}

.titlebar__icon--close:hover {
    background: #fc3636;
}